/**
 * NovaShare Block customizations.
 */
.ns-buttons {
	> .ns-buttons-wrapper {
		> a.ns-button {
			.ns-button-wrapper {
				.ns-button-block {
					transition-property: color, background-color;
					transition-duration: 0.3s;
					transition-timing-function: ease-in-out;
				}
			}
		}
	}
}
