.wp-block-zach-layouts[class],
.card__wrapper[class] {
	// Vertical Stretched Column.
	.is-vertically-aligned-stretch & {
		&.card__wrapper {
			height: 100%;

			display: flex;
			flex-direction: column;
			justify-content: stretch;

			> .card[class] {
				flex: 1;
			}
		}
	}

	.card.newsletter-card[class] {
		// When the card is in a slider, it needs some help forming a shape.
		--bswh--card--newsletter--aspect-ratio: 440/634;
		max-width: 440px;
	}

	// This class is useful when added to the Layout's block when it is a Carousel so that it may extend past the parent's padding.
	&.extend-past-end:has(.zach-slider[class]) {
		column-gap: 0;
		margin-right: calc(-1 * var(--wp--preset--spacing--50)) !important;
	}
	@for $i from 2 through 4 {
		&.has-col-count-#{$i} {
			display: grid;
			grid-template-columns: repeat(#{$i}, 1fr);
			grid-auto-rows: auto;
		}
	}
	&.wp-block-zach-slider {
		row-gap: 10px; // 20px minus the 10px bottom padding of the slider interior.
		.zach-slider[class] {
			// Variables.
			--bswh--slider--scrollbar--track-height: 0; // Hide the trackbar because we are going to implement dots.
			--bswh--slider--gap: var(--wp--preset--spacing--40);
			--bswh--slider--slide--width: calc(100vw - var(--wp--preset--spacing--40));
			@include mq('lg') {
				--bswh--slider--slide--width: 630px;
			}
			padding: 10px; //To accommodate the card's box-shadow.
			> .card.newsletter-card[class] {
				// When the card is in a slider, it needs some help forming a shape.
				--bswh--card--newsletter--aspect-ratio: 440/634;
				max-width: 440px;
			}
			> .card[class].is-style-vertical {
				--bswh--card--aspect-ratio: 630/400;
				--bswh--card--featured-media--aspect-ratio: 630/221;
				max-width: 630px;
				// The content height goes from 184px to 275px. or 46% to 68%.
				&:not(.remove-focus-styling):has(.card__link:hover, .card__link:focus) {
					> .card__inner {
						--bswh--card--inner-grid-row: 68%;
					}
				}
			}

			// Rules.
			padding-inline: 8px;
			padding-block-start: 8px;
			scroll-padding-inline: var(--bswh--slider--gap);

			> * {
				margin-bottom: 0;
			}
		}
		// Dot navigation
		.zach-slider-dots-container {
			display: flex;
			justify-content: start;
			gap: 0; // No spacing between the dots because we want the click target to be larger enough.

			// Individual dot.
			.dot {
				--dot-color: var(--wp--preset--color--light-gray);
				width: 20px; // Wide touch target.
				height: 16px;
				padding: 0;
				border: none;
				cursor: pointer;
				background: none;
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;

				// The pseudo element is the actual circle.
				&:after {
					display: block;
					content: '';
					width: 8px;
					height: 8px;
					background: var(--dot-color);
					border-radius: 50%;
					transition:
						background 0.3s,
						box-shadow 0.3s;
				}

				// Active.
				&.active {
					--dot-color: var(--wp--preset--color--yellow);
				}

				// Hover and Focus.
				&:hover,
				&:focus {
					--dot-color: var(--wp--preset--color--gray);
				}

				// Focus.
				&:focus {
					// Remove the button's natural outline.
					outline: none;
					&:after {
						// Outline around the circular pseudo element.
						outline: 2px solid var(--wp--preset--color--blue);
						outline-offset: 2px;
					}
				}
			}
		}
	}
}
