.wp-block-zach-byline {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
	font-weight: 600;
	line-height: 1;
	color: var(--wp--preset--color--dark-gray);
	padding: 12px;

	.zach-byline-avatars {
		display: flex;
		gap: 0;
		margin-right: 4px; // overlapping avatars.

		> * {
			margin-left: -8px;
		}

		a {
			display: inline-block;
		}
		img {
			border-radius: 50%; // Circular avatars
			width: 32px;
			height: 32px;
			aspect-ratio: 1;
			object-fit: cover;
			border: 1px solid var(--wp--preset--color--gray);
		}
	}

	.zach-byline-preposition {
		padding-bottom: 4px;
		white-space: nowrap;
	}

	.zach-byline-names {
		> * {
			display: inline-block;
			padding-bottom: 4px;
			font-weight: 700;
			margin: 0;
		}
		a {
			text-decoration: none;

			@include laser-underline(var(--wp--preset--color--blue), var(--wp--preset--color--blue));

			&:hover {
				color: var(--wp--preset--color--blue);
			}

			p {
				margin: 0;
				display: inline;
			}
		}
	}
}
