.single-rkv_mission_event .wp-block-post-content, // front end
.editor-styles-wrapper[class] .block-editor-block-list__layout.is-root-container[class][class][class] {
	// editor

	// Headings.
	// H1
	h1,
	h1.wp-block-heading {
		color: var(--bswh--mission-events--scheme--color);
	}

	// Buttons.
	.block-editor-block-list__block.wp-block-button[class],
	.wp-block-button {
		.wp-block-button__link[class] {
			--block--button--border--color: var(--bswh--mission-events--scheme--color);
			--block--button-background-color: var(--bswh--mission-events--scheme--color);
			--block--button-color: var(--bswh--mission-events--scheme--preferable-text-color);
			&:hover {
				--block--button-background-color: color-mix(
					in srgb,
					var(--bswh--mission-events--scheme--color) 15%,
					white
				);
			}
		}
		&.is-style-arrow[class],
		&.is-style-text[class] {
			.wp-block-button__link[class] {
				--block--button-background-color: transparent;
				--block--button-color: var(--bswh--mission-events--scheme--color);
				color: var(--bswh--mission-events--scheme--color);
				--block--button-hover-color: var(--bswh--mission-events--scheme--preferable-text-color);
			}
		}
	}

	.block-editor-block-list__block.wp-block.wp-block-group:has(.wp-block-navigation),
	.wp-block-group:has(.wp-block-navigation) {
		background-color: var(--bswh--mission-events--scheme--color);
		color: var(--bswh--mission-events--scheme--preferable-text-color);
		.wp-block-navigation-item__label {
			color: var(--bswh--mission-events--scheme--preferable-text-color);
		}
	}
}
