// For the "Mission Event Hero" pattern.
// There is typically a wrapping/backing core/group block, but that is not part of this because it does not support block bindings for it's background image.
.wp-block-columns.mission-event-hero {
	> .wp-block-column:first-child {
		> figure.wp-block-image {
			min-height: 100%;
			> img {
				object-fit: cover;
				min-height: 100%;
				object-position: center;
			}
		}
	}
}
