.bswh-table-of-contents-wrapper {
	display: none;
	// Different breakpoints are shown at different screensizes.
	&.breakpoint- {
		&desktop {
			@include mq('sm') {
				display: block;
			}
		}
		&mobile {
			@include mq-max('sm') {
				display: block;
			}
		}
	}
	.bswh-table-of-contents {
		float: none;
		padding: 20px;
		border: 1px solid #ddd;
		margin-block-end: var(--wp--preset--spacing--20);
		@include mq('sm') {
			border: 0;
			padding: 0;
			float: right;
			width: 330px;
			margin-inline-start: 60px;
			@include mq('md') {
				margin-inline-end: -60px;
			}
			@include mq('xl') {
				margin-inline-end: -130px;
			}
			margin-block-end: var(--wp--custom--spacing--gap);
		}
		.bswh-table-of-contents--heading {
			color: var(--wp--preset--color--dark-gray, #364248);
			font-size: 16px;
			font-weight: 700;
			line-height: 1.6;
			letter-spacing: 2px;
			text-transform: uppercase;
			margin: 0;
			padding-bottom: 20px;
		}
		ul.bswh-table-of-contents--list {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				padding: 0;
				margin: 0;
				a {
					display: block;
					padding: 12px 16px;
					color: var(--wp--preset--color--text-gray, #364248);
					border-left: 1px solid var(--wp--preset--color--gray, #959593);
					font-size: 16px;
					font-weight: 600;
					line-height: 1.6;
					text-decoration: none;
					@include transition;
					&:hover {
						padding-inline-start: 20px;
						padding-inline-end: 11px; // Accommodate the additional starting padding and 1px more of left border.
						color: var(--wp--preset--color--blue);
						border-left: 2px solid var(--wp--preset--color--blue);
					}
				}
			}
		}
	}
}
