.site-header[class] {
	// Variables.
	--mega-menu-panel--padding-inline: var(--wp--preset--spacing--40);
	--mega-menu-panel--offset-top: calc(
		(var(--bswh--main-header--height) - var(--bswh--mega-menu-wrap--height)) / 2
	);
	--mega-menu-panel--mobile-height: calc(
		100vh - var(--wp-admin--admin-bar--height, 0px) - var(--bswh--main-header--height, 50px) - var(
				--bswh--alert-bar--height,
				0px
			)
	);
	--header--padding-inline: 20px;
	@include mq('sm') {
		--header--padding-inline: 40px;
	}
	// Rules.
	position: relative;
	z-index: 9999;
	transform-style: preserve-3d;
	&.wp-block-group[class] {
		position: relative;
		padding-inline: var(--header--padding-inline);
		z-index: 2;
		min-height: 50px;
		> * {
			position: relative;
			z-index: 99;
		}
		&:after {
			content: '';
			display: block;
			z-index: 0;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: white;
		}

		// Mobile considerations.
		@include mq-max('lg') {
			display: grid;
			grid-template-areas: 'menu logo search';
			justify-content: space-between;
			grid-template-rows: 1fr;
			> *:not(.wp-block-navigation, .wp-block-site-logo, .wp-block-group.header-action-buttons) {
				// If any other elements happen to end up in the Header, we don't want them.
				display: none;
			}
			> .mega-menu-wrap,
			> .wp-block-navigation {
				grid-area: menu;
			}
			> .wp-block-site-logo {
				grid-area: logo;
			}
			> .wp-block-group.header-action-buttons {
				grid-area: search;
				> *:not(.wp-block-rkv-search-widget) {
					display: none;
				}
			}
		}

		// Same considerations for on the Mission Events template.
		// But we are going to say that whenever the navigation block has the navigation menu set to Always Show Mobile.
		&:has(> .wp-block-navigation .wp-block-navigation__responsive-container-open.always-shown) {
			display: grid;
			grid-template-areas: 'menu logo search';
			justify-content: space-between;
			> .mega-menu-wrap,
			> .wp-block-navigation {
				grid-area: menu;
			}
			> .wp-block-site-logo {
				grid-area: logo;
			}
			> .wp-block-group.header-action-buttons {
				grid-area: search;
				> *:not(.wp-block-rkv-search-widget) {
					display: none;
				}
			}
		}

		// Site Logo.
		.wp-block-site-logo {
			z-index: 101;
			@include mq-max('sm') {
				flex-grow: 1;
				order: 1;
			}
		}

		@import 'menu.scss';

		// The buttons at the end of the header.
		.wp-block-group.header-action-buttons {
			// On desktop and above.
			@include mq('lg') {
				.rkv-mega-menu-close-button {
					display: none;
					cursor: pointer;
					border: 1px solid #ddd;
					border-radius: 50%;
					width: 40px;
					height: 40px;
					aspect-ratio: 1;
					background-image: var(--bswh--icon--x-mark);
					background-size: 15px 15px;
					background-position: center;
					background-repeat: no-repeat;
					background-color: white;
					text-indent: -9999px;
					overflow: hidden;
					&:hover {
						background-color: var(--wp--preset--color--light-yellow, #fff5de);
					}
					&.active {
						display: block;
					}
				}
			}
			&:has(.rkv-mega-menu-close-button.active:not(.is-mobile)) {
				> *:not(*:has(.rkv-mega-menu-close-button)) {
					display: none;
				}
			}
		}

		// Search Widget.
		.wp-block-rkv-search-widget {
			@include mq-max('lg') {
				order: 3;
			}
		}
	}
}

// Desktop Mega Menu location.
// The panels are moved out of the menu so they can be properly sized according to the browser width.
.location-header_end.wp-block-rkv-template-action {
	position: relative;
	// The styles for the Desktop panels are in the mega menu block.
	@include mq-max('lg') {
		.rkv-mega-menu-panels:not(.mobile-menu-is-open) {
			// On mobile, if the menu is not open, do not show the panels.
			.rkv-mega-menu-panel[aria-hidden='false'] {
				opacity: 0 !important;
			}
		}
	}
}

body.has-modal-open {
	overflow-y: hidden;
	max-height: calc(100vh - var(--wp-admin--admin-bar--height));
	width: 100vw;
}
