body.post-template-default,
body.page-template-default {
	#featured-image-wrapper {
		max-width: var(--wp--style--global--wide-size, 1440px);
		width: 100%;
		padding: 0;
		margin: 0 auto;
		& + main {
			margin-top: 0;
		}
		> .wp-block-group {
			background: white;
			padding-bottom: 0;
		}
		.wp-block-post-featured-image {
			margin-bottom: 0;
		}
	}
	main {
		margin-inline: auto;
		max-width: var(--wp--style--global--wide-size, 1440px);
		background: white;
		.entry-header {
			color: var(--wp--preset--color--dark-gray);
			.wp-block-post-title {
				color: inherit;
				font-family: 'Sharp Sans';
				font-size: 40px;
				font-style: normal;
				font-weight: 600;
				line-height: 1.2;
				letter-spacing: -0.5px;
				margin-bottom: 10px;
			}
			.entry-meta {
				display: flex;
				justify-items: start;
				overflow: hidden;
				column-gap: 4px;
				flex-wrap: wrap;
				> * {
					font-size: 16px;
					font-weight: 600;
					line-height: 1;
					padding-block: 4px;
					line-height: 1;
				}
				> .wp-block-post-date {
					color: inherit;
				}
				> .wp-block-post-terms {
					column-gap: 0;
					.wp-block-post-terms__prefix {
						color: inherit;
						padding-inline-end: 4px;
					}
					a {
						// We need all this CSS here because the theme.json for the post terms block is styled for the article footer.
						padding: 0;
						background-color: transparent;
						border-radius: 0;
						border-color: transparent;
						color: var(--wp--preset--color--blue);
						font-weight: 600;
						@include laser-underline();
						&:hover {
							color: var(--wp--preset--color--blue);
						}
					}
				}
				> .time-to-read {
					@include mq('xs') {
						border-left: 1px solid var(--wp--preset--color--gray);
						padding-left: 10px;
						margin-left: calc(10px - 4px);
					}
				}
			}
		}
		.entry-content {
			> .bswh-table-of-contents-wrapper.breakpoint-desktop + * {
				margin-block-start: 0;
			}
			> .bswh-table-of-contents-wrapper.breakpoint-desktop + .wp-block-heading {
				margin-block-start: 0;
				& + .bswh-table-of-contents-wrapper.breakpoint-desktop + * {
					margin-block-start: var(--wp--custom--spacing--gap);
				}
			}
		}
	}

	.wp-block-rkv-template-action.location-before_footer {
		margin-inline: auto;
		max-width: var(--wp--style--global--wide-size, 1440px);
	}

	&.post-template-default:not(:has(.wp-block-post-featured-image)) {
		.entry-header {
			border-left: 30px solid var(--rkv--path--ribbon--color--2);
			position: relative;
			margin-bottom: 30px;
			top: 0;
			left: 20px;
			padding-left: 30px !important;
			padding-right: 30px !important;
			@include mq('xs') {
				left: 15px;
				top: -6px;
			}
			@include mq('lg') {
				top: -20px;
				left: 10px;
			}
			&::before {
				content: '';
				position: absolute;
				bottom: -30px;
				left: -30px;
				border-top: 15px solid #364248;
				border-right: 15px solid #364248;
				border-bottom: 15px solid rgba(0, 0, 0, 0);
				border-left: 15px solid rgba(0, 0, 0, 0);
			}
			&::after {
				content: '';
				position: absolute;
				bottom: -30px;
				height: 30px;
				width: 200%;
				background: var(--rkv--path--ribbon--color--3);
				left: 0;
			}
		}
	}
}
