<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"right":"0","left":"0","top":"0","bottom":"0"},"margin":{"top":"0"}}}} -->
<main
	class="wp-block-group"
	style="margin-top: 0; padding-top: 0; padding-right: 20px; padding-bottom: 0; padding-left: 20px"
	>
		<br>
		<p>Hello! This sample is limited to the homepage. This post template is intentionally left blank.</p>
		<br>
		<div class="wp-block-buttons is-layout-flex wp-block-buttons-is-layout-flex">
			<div class="wp-block-button"><a class="wp-block-button__link wp-element-button" href="/">Return Home</a></div>
		</div>
		<br>
	</main
>
<!-- /wp:group -->
