<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"right":"0","left":"0","top":"0","bottom":"0"},"margin":{"top":"0"}}}} -->
<main
	class="wp-block-group"
	style="margin-top: 40px; padding-top: 0; padding-right: 20px; padding-bottom: 20px; padding-left: 20px; text-align: center;"
	>
		<br>
		<p><strong>Hello! This sample is limited to the homepage. This post template is intentionally left blank.</strong></p>
		<br>
		<div class="wp-block-buttons has-animation-zach-fade-in has-delay-200 is-layout-flex wp-block-buttons-is-layout-flex aos-init aos-animate" data-aos="zach-fade-in" data-aos-delay="200" style="justify-content: center;">
			<div class="wp-block-button"><a class="wp-block-button__link has-dark-gray-color has-yellow-background-color has-text-color has-background has-link-color has-border-color has-yellow-border-color wp-element-button" href="/" style="border-radius:4px;padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--40)"><strong>Return Home</strong></a></div>
		</div>
		<br>
	</main
>
<!-- /wp:group -->
