.wp-block-query {
	// Grid Layout.
	.is-layout-grid {
		gap: var(--Small-Gap, 20px);
		.wp-block-post {
			> .card[class] {
				height: 100%;
				> .card__inner[class] {
					@container card (max-width: 343px) {
						container-type: inline-size;
					}
				}
			}
		}
	}

	// Pagination.
	.wp-block-query-pagination {
		--block--query--pagination--gap: 8px;

		display: flex;
		justify-content: center;
		align-items: center;
		gap: var(--block--query--pagination--gap);
		.wp-block-query-pagination-numbers {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: var(--block--query--pagination--gap);
			flex-wrap: wrap;
		}
		.page-numbers,
		a.wp-block-query-pagination-previous,
		a.wp-block-query-pagination-next {
			display: flex;
			width: var(--Gap, 40px);
			height: var(--Gap, 40px);
			padding: 8px;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 10px;
			border-radius: 4px;
			border: 1px solid var(--wp--preset--color--dark-gray, #364248);
			background: var(--White, #fff);
			text-decoration: none;
			color: var(--wp--preset--color--dark-gray, #364248);
			&:hover,
			&:focus {
				border: 1px solid var(--wp--preset--color--yellow, #ffb71b);
				background: var(--wp--preset--color--light-yellow, #fff8e6);
			}
			&:active {
				border: 1px solid var(--wp--preset--color--blue, #ffb71b);
				background: var(--wp--preset--color--light-blue, #fff8e6);
			}
			&.current {
				border: 1px solid var(--wp--preset--color--blue, #ffb71b);
				background: var(--wp--preset--color--light-blue, #fff8e6);
			}
			> * {
				margin: 0;
				padding: 0;
			}
		}
	}
}
