.wp-block-social-links {
	footer.wp-block-template-part & {
		&.is-style-logos-only {
			li.wp-block-social-link[class] {
				&:hover {
					transform: unset;
				}
				a.wp-block-social-link-anchor[class] {
					color: white;
					transition: all 0.3s ease;
					&:hover {
						color: white;
					}
				}
			}
		}
	}
}
