// Breadcrumbs.
.breadcrumbs-template-part.wp-block-template-part {
	margin-block: 0;
	.wp-block-group.breadcrumbs-wrapper {
		margin-top: 0;
		display: flex;
		height: 40px;
		padding-block: 12px 8px;
		justify-content: center;
		align-items: center;
		gap: 8px;
		align-self: stretch;
		> .yoast-breadcrumbs {
			margin-inline: auto;
			width: 100%;
			max-width: var(--wp--style--global--wide-size, 1440px);
			color: #59575c;
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: 1;
			a {
				@include laser-underline;
				font-weight: 600;
				padding-bottom: 4px;
			}
		}
	}
}
