.wp-block-group.testimonial-card {
	border-radius: 4px;
	/* Elevation */
	box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.05);
	overflow: hidden;
	> .wp-block-columns {
		display: grid;
		min-height: 100%;
		grid-template-columns: 200px auto;
		@include mq-max('xxs') {
			grid-template-columns: 120px auto;
		}
		gap: 0;
		align-content: stretch;
		> .wp-block-column {
			height: 100%;
		}
		> .wp-block-column:first-child {
			.wp-block-image {
				width: 100%;
				height: 100%;
				img {
					width: 100%;
					display: block;
					min-height: 100%;
					object-fit: cover;
				}
			}
		}
		> .wp-block-column:last-child {
			> p {
				margin: 0;
				padding: 0;
			}
			> p:first-child {
				overflow: hidden;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 4;
				line-clamp: 4;
			}
		}
	}

	.wp-block-zach-slider[class][class]:has(&) {
		@include mq-max('md') {
			margin-inline: calc(-1 * var(--wp--preset--spacing--70));
		}
		&:after,
		&:before {
			display: none;
		}

		.zach-slider {
			--zach--slider--scrollbar--vertical-offset: 0;
			--zach--slider--gap: 20px;
			--zach--slider--margin-bottom: 0;
			align-items: stretch;
			padding-inline: var(--wp--preset--spacing--70);
			scroll-padding-inline: var(--wp--preset--spacing--70);
		}

		// Above small, break the slider.
		@include mq('md') {
			.zach-slider {
				--zach--slider--gap: var(--wp--preset--spacing--40);
				columns: 2;
				column-fill: revert-layer;
				row-gap: 0;
				display: block;
				margin: 0;
				padding: 0;
				> * {
					--zach--slider--slide--width: calc(50% - var(--zach--slider--gap) / 2);
					flex-basis: var(--zach--slider--slide--width);
					margin: 0;
					width: 100%;
					display: inline-grid;
					margin-bottom: var(--zach--slider--gap);
				}
			}
		}
	}
}
